

<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>  Tile Shop</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-card class="example-card">
  <mat-card-subtitle>Tile Shop</mat-card-subtitle>
  <mat-card-title>Tiles</mat-card-title>
  <mat-card-content>
    <p>This card has divider and indeterminate progress as footer</p>
    <p>{{ longText }}</p>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold"><a routerLink="/create" routerLinkActive="active">Add Tile</a></mat-button-toggle>
      <mat-button-toggle value="italic"><a routerLink="/list-tile" routerLinkActive="active">View Tiles</a></mat-button-toggle>
    </mat-button-toggle-group>
    <!--
    <button mat-button><a routerLink="/create" routerLinkActive="active">Add Tile</a></button>
    <button mat-button><a routerLink="/list-tile" routerLinkActive="active">View Tiles</a></button>
    -->
    
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>

<!--

<nav>
  <div>
    <a></a>
      <div>
        <ul>
          <li>
            <button mat-button color="primary">
            <a routerLink="/create" routerLinkActive="active">Add Tile</a>
            </button>
          </li>
          <li>
            <button mat-button color="primary">
            <a routerLink="/list-tile" routerLinkActive="active">View Tiles</a>
          </button>
          </li>
        </ul>
      </div>
  </div>
</nav>

 --->


<div>
  <router-outlet></router-outlet>
</div>


<mat-slider
  thumbLabel
  [displayWith]="formatLabel"
  tickInterval="1000"
  step="1000"
  min="0"
  max="100000"
  aria-label="units"></mat-slider>
