@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.example-spacer {
  flex: 1 1 auto;
}
mat-slider {
  width: 300px;
}
.example-card {
  max-width: 400px;
}

.example-form-field {
  width: 200px;
}

body {background-color: blue;}